.book-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-wrapper {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.697);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.book-container {
  width: 95%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-block: 1px solid #fff;
  background-color: rgb(186, 175, 175);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.999);
  position: relative;
}

.book-image-container {
  height: 20rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.999);
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.3rem;
}
.back-icon-wrapper {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 2rem;
  height: 2rem;
  transition: all 0.5s ease-in;
  color: orange;
}

.back-icon {
  color: #e27d60;
  font-size: 2.5rem;
  transition: all 0.5s ease-in;
}

.back-icon:hover {
  font-size: 3rem;
}

.book-info {
  width: 95%;
}

@media (min-width: 760px) {
  .book-wrapper {
    width: 100%;
    padding: 1.5rem 0;
  }
  .book-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 1rem;
    padding: 0.5rem;
  }
  .book-image-container {
    height: 24rem;
  }
  .back-icon-wrapper {
    font-size: 1rem;
  }
}

@media (min-width: 980px) {
  .book-wrapper {
    padding-block: 1rem;
  }
  .book-image-container {
    height: 27rem;
  }
}
