.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 90%;
  height: 85%;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../../home.svg);
  background-size: cover;
  border-radius: 15px;
  border: 1px solid #fff;
}

.home-paragraph {
  width: 80%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.605);
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 1rem;
}

.link {
  background-color: #e27d60;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #f7f7f7;
  padding: 1rem;
  font-size: 2.3rem;
  transition: all 0.7s;
}

.link:hover {
  background-color: #f7f7f7;
  color: #e27d60;
  border: 1px solid #e27d60;
}

@media (min-width: 768px) {
  .home-wrapper {
    background-position: bottom;
  }
}

@media (min-width: 992px) {
  .home-wrapper {
    background-position: bottom;
  }
  .link {
    font-size: 2rem;
  }
}
